{% extends "base_generic.html" %}

{% block content %}
    <h1>Clients</h1>

    <input id="searchbar" onkeyup="search_clients()" type="text" name="search" placeholder="Search clients..">
    <a href="{% url 'client_create' %}">Создать</a>
{% if clients_list %}
    <ol id="list">

      {% for client in clients_list %}
      <li class="clients">
        {{ client.full_name }} {{client.mail}} {{client.phone}} {{client.numbers_cars}} {{client.brand_cars}}
        <a href="{% url 'client_update' client.id %}">изменить</a>
        <a href="{% url 'client_delete' client.id %}">удалить</a>
      </li>
      {% endfor %}

    </ol>
    {% else %}
      <p>There are no clients in the autoservice.</p>
    {% endif %}
{% endblock %}