{% extends "base_generic.html" %}

{% block content %}
    <h1>Fixes</h1>

    <input id="searchbar" onkeyup="search_fixes()" type="text" name="search" placeholder="Search fixes..">
    <a href="{% url 'fix_create' %}">Создать</a>
    {% if fixes_list %}
    <ol id="list">
      {% for fix in fixes_list %}
      <li class="fixes">
          {{ fix.type_active }} {{ fix.id_car }} {{ fix.id_worker }} {{ fix.id_parts }} {{ fix.repair_cost }} {{ fix.comment }}
          <a href="{% url 'fix_update' fix.id %}">изменить</a>
          <a href="{% url 'fix_delete' fix.id %}">удалить</a>
      </li>
      {% endfor %}

    </ol>
    {% else %}
      <p>There are no fixes in the autoservice.</p>
    {% endif %}
{% endblock %}