body {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    color: #354856;
    font-family: helvetica, sans-serif;
    font-variant: small-caps;
    padding: 0 0 500px;
}

#user{
    padding: 10px 20px;
	text-transform: uppercase;
}

#logo{
    padding: 0px 20px;
}

a {
    position: relative;
	display: inline-block;
	outline: none;
	color: #354856;
	margin: 15px 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	padding: 20px 20px ;
}
a:hover,
a:focus {
	outline: none;
}

 a::before,
 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #354856;
	border-radius: 25px;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.for_a a::before,
.for_a a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	border: 3px solid #354856;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

 a::after  {
	border-color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

 a:hover::before,
 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

 a:hover::after,
 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}


.sidebar-nav {
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

#searchbar{
     margin-left: 0;
     padding:15px;
     border-radius: 10px;
   }

   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }

   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 70%;
   }

  #list{
    font-size:  1.5em;
    margin-left: 30px;
   }

.parts{
   display: list-item;
  }

table {
    font-size: 14px;
    border-collapse: separate;
    text-align: center;
    border-spacing: 7px 11px;
    color: #007373;
}
th, td:first-child {
    font-size: 22px;
    background: #00d1c7;
    color: #007373;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgba(255,255,255,0.3);
    border-radius: 25px;
    padding: 10px 20px;
}
td {
    font-size: 20px;
    background: #00d1c7;
    padding: 0 15px;
}

th:first-child, td:first-child {
    text-align: center;
}

table a{
    font-size: 15px;
    color: 009090;
}

table a::before,
table a::after{
    border-radius: 5px;
    border-color: 009090;
}

#head_site {
    text-align: start;
    letter-spacing: 1px;
    padding: 0 2em;
}

//input

input {
    background: transparent;
    width: 200px;
    padding: 20em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
input:hover {
      background: rgba(255,255,255,0.1);
      box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

input:focus {
        background: rgba(255,255,255,0.1);
        box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}


button {
   margin-top: 10px;
   width: 150px;
   font-size: 1rem;
}
button:hover {
    cursor: pointer;
}

button:active {
    background: rgba(255,255,255,0.2);
}

.input_form{
    margin: 30px 150px;
    border-radius: 15px;
    font-size: 20px;
    background: rgba(255,255,255,0.3);
    padding: 5px 15px;
}

#remont_price{
   position: relative;
	display: inline-block;
	outline: none;
	color: #354856;
	margin: 15px 10px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	padding: 20px 20px ;
	border: 3px solid #354856;
	border-radius: 25px;
}

#remont_price input{
    background: rgba(255,255,255,0.7);
}

#remont_price button{
    background: rgba(255,255,255,0.7);
    border-radius: 25px;
}

#remont_price p{
    padding: 10px 0px 0;
}

.row ul{
  margin: 0;
  list-style: none;
  padding-left: 0px;
  display: none;
}

.row .logo::before {
  content: '';
  font-size: 80%;
  color: green;
}

.row.open .logo::before {
  content: '';
}

.row.open ul {
  display: block;
}