{% extends "base_generic.html" %}

{% block content %}
<h1>Manage Deck</h1>

  <p>Welcome to <em>Manage deck</em>, a very basic analis your autoservice</p>

<h2>Dynamic content</h2>

  <p>The autoservice has the following record counts:</p>
  <ul>
    <li><strong>Workers:</strong> {{ num_workers }}</li>
    <li><strong>Clients:</strong> {{ num_clients }}</li>
    <li><strong>Fixes:</strong> {{ num_fixes }}</li>
    <li><strong>Numbers all parts:</strong> {{ numbers_all_parts }}</li>
    <li><strong>Cost all parts:</strong> {{ cost_all_parts }}</li>
    <li><strong>Average cost all parts:</strong> {{ average_cost_all_parts }}</li>
  </ul>
<h2>Calculator remont price</h2>
    <div id="remont_price">
        <p>parts price</p>
        <input id="parts"/>
        <p>Employee hourly rate</p>
        <input id="hourly_rate"/>
        <p>hours</p>
        <input id="hours"/>
        <p>difficult: (easy, normal, hard)</p>
        <input id="difficult"/>
        <p><button onclick="price_func()">Get Result</button></p>
        <p>Result:</p>
        <p id="result"></p>
    </div>
  <h2>Top clients</h2>
  <table>
    <thead>
      <tr>
        <th>
          <strong>Name</strong>
        </th>
        <th>
            <strong>Numbers fixes</strong>
        </th>
    </thead>
    <tbody>

        {% for top_client in top_clients %}
        <tr>
        {% for elem in top_client %}
        <th>{{ elem }} </th>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
 <h2>Top workers</h2>
  <table>
    <thead>
      <tr>
        <th>
          <strong>Name</strong>
        </th>
        <th>
            <strong>Numbers fixes</strong>
        </th>
    </thead>
    <tbody>

        {% for top_worker in top_workers %}
        <tr>
        {% for elem in top_worker %}
        <th>{{ elem }} </th>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}